.nav{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 100000000;
    background-color: #fff;
}
.main{
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}

.main:after, .main:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.main:after{
    clear: both;
}

.logo_container{
    position: relative;
    float: left;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.logo{
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 150px;
}

.btn1{
    margin-left: 17px;
    padding: 12px 27px 9px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .6px;
    text-transform: uppercase;
    border: 1px solid #00b289;
}
.btn2{
    margin-left: 17px;
    padding: 12px 27px 9px;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .6px;
    text-transform: uppercase;
    border: 1px solid #00b289;
    border-radius: 4px;
    cursor: pointer;
}
.ok{
    display: none;
    z-index: 100;
    position: absolute;
}
.left_content{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 60px 0 rgb(2 4 69 / 10%);
}
.left_item{
    display: flex;
    width: 100%;
    min-width: 202px;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}
.left_item_wrapper{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 55px 10px 45px;
}
.left_item_title{
    margin-left: 10px;
    color: #292a2d;
    font-size: 15px;
    line-height: 18px;
}


/* -------------Component Model--------------- */
.right_content{
    background-color: #fff;
}
.right_content_item{
    padding: 20px 44px 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.right_content_wrapper{
    margin-bottom: 24px;
}
.right_content_more{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    color: #00b289;
    font-size: 15px;
    font-weight: 600;
}
.wrapper_title{
    margin-bottom: 24px;
    white-space: nowrap;
    font-family: 'Amerigo-bt roman opt',sans-serif;
    color: #292a2d;
    font-size: 22px;
    line-height: 26px;
}
.right_content_template{
    width: 100%;
    min-width: 387px;
    margin-bottom: 10px;
    padding: 28px 32px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---------------Product dropdown--------- */
.bonProduct_leftContent{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 60px 0 rgb(2 4 69 / 10%);
}
.bonProduct{
    display: flex;
    width: 100%;
    max-width: 352px;
    min-width: 350px;
    padding: 40px 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.bonProduct_wrapper{
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.bonProduct_title{
    margin-bottom: 10px;
    font-family: 'Amerigo-bt roman opt',sans-serif;
    color: #292a2d;
    font-size: 22px;
    line-height: 26px;
}


@media screen and (max-width: 991px){
    .main{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        overflow: visible;
        width: 100vw;
        padding-right: 5%;
        padding-left: 5%;
    }
}