.sectionmain {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .page_padding {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .container_large {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
  }
  .heading_large_32 {
    text-size-adjust: none;
    box-sizing: border-box;
    color: #4c525a;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    font-family: "Amerigo-bt roman opt", sans-serif;
    font-weight: 400;
  }
  .testimonial_slider {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background: #ddd;
    clear: both;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    margin-top: 78px;
    background-color: transparent;
  }
  .maskw_slider_mask {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
  }
  .w_slide {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left;
    transform: translateX(0px);
    opacity: 1;
    transition: transform 500ms ease 0s;
  }
  .testimonial_holder {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    box-sizing: border-box;
    z-index: 0;
    display: flex;
    padding: 87px 6% 68px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    align-content: stretch;
  }
  .testimonial_block {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    position: relative;
    width: 48%;
    padding-top: 0;
    padding-bottom: 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.06);
  }
  .img_quote_div {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    position: absolute;
    top: -80px;
    z-index: 1;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .testimonial_image_2 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    min-height: 200px;
    padding-right: 84px;
    padding-left: 83px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/5888e1f5f34690422d33efce_david-mihm.jpg");
    background-position: 50% 50%;
    background-size: cover;
  }
  .text_content {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    height: 100%;
    margin-right: 36px;
    margin-left: 36px;
    padding-top: 155px;
    padding-bottom: 24px;
  }
  .text_size_huge {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 1.4;
  }
  .testimonial_detail_holder {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin-top: 2rem;
  }
  .text_size_medium_20 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 600;
  }
  .testimonialblocklowerhomepage {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    position: relative;
    width: 48%;
    padding-top: 0;
    padding-bottom: 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.06);
    margin-right: 12px;
  }
  .imgquote_div_homepage {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    position: absolute;
    top: -80px;
    z-index: 1;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    margin-right: 12px;
  }
  .testimonial_image_2_2 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    min-height: 200px;
    padding-right: 84px;
    padding-left: 83px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/5888e56ffe81b74722a25aa8_DavidUrbinati.jpg");
  }
  .quoteicon {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    position: absolute;
    left: 200px;
    top: 164px;
    margin-left: 0;
    align-self: flex-start;
  }
  .text_content {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    height: 100%;
    margin-right: 36px;
    margin-left: 36px;
    padding-top: 155px;
    padding-bottom: 24px;
  }
  .text_size_huge {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 1.4;
  }
  .testimonial_detail_holder {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin-top: 2rem;
  }
  .text_size_semibold {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 600;
  }
  .text_size_opaciy {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-size: 1.25rem;
    line-height: 140%;
    opacity: 0.75;
  }
  .testimonial_image_2_3 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    min-height: 200px;
    padding-right: 84px;
    padding-left: 83px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/588913c6065c48675c827252_nat.jpg");
  }
  .testimonial_image_2_4 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    min-height: 200px;
    padding-right: 84px;
    padding-left: 83px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/588913ce796cb37d4ddfa28e_jold.jpg");
  }
  .quoteicon_homepage {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    white-space: normal;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    position: absolute;
    left: 200px;
    top: 164px;
    margin-left: 0;
    align-self: flex-start;
    margin-right: 12px;
  }
  .container_medium {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    max-width: 58rem;
    margin-right: auto;
    margin-left: auto;
  }
  .cta_div {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    padding: 4rem 3rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f2faff;
  }
  .flexleftwidth70 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    width: 70%;
  }
  .headingxlarge44amerigo {
    text-size-adjust: none;
    color: #4c525a;
    font-weight: 400;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.75rem;
    line-height: 130%;
    font-family: "Amerigo-bt roman opt", sans-serif;
  }
  .greenspan {
    text-size-adjust: none;
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 130%;
    font-family: "Amerigo-bt roman opt", sans-serif;
    box-sizing: border-box;
    color: #01b289;
  }
  .button_main {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: auto;
    padding: 15px 25px 13px;
    border-radius: 4px;
    background-image: linear-gradient(190deg, #00b289, #00a881);
    transition: background-color 0.4s;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  