.pagewrap {
    position: relative;
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .section_main {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    padding-top: 176px;
    padding-bottom: 80px;
  }
  .blue_shape_11 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    position: absolute;
    bottom: auto;
    z-index: -1;
    display: block;
    border-radius: 6.6vw;
    background-color: #f2faff;
    transform: rotate(-23deg);
    left: auto;
    top: -88%;
    right: -26%;
    width: 90vw;
    height: 90vw;
  }
  .page_padding {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .container_large {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .flex_left {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    width: 50%;
  }
  .margin_bottom {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 1.25rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .heading_xlarge {
    text-size-adjust: none;
    box-sizing: border-box;
    margin: 0.67em 0;
    color: #4c525a;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.75rem;
    line-height: 130%;
    font-family: "Amerigo-bt roman opt", sans-serif;
  }
  .margin_bottom_margin_huge {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 2.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .w_form {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0 0 15px;
  }
  .email_form {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 20px;
  }
  .field_style_w_input {
    text-size-adjust: none;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px 12px;
    line-height: 1.42857143;
    color: #333;
    /* vertical-align: middle; */
    background-color: #fff;
    height: 70px;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 28px;
    border: 2px solid #01b289;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    font-weight: 600;
  }
  .cta_submit_w_button {
    text-size-adjust: none;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    display: inline-block;
    padding: 9px 15px;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    height: 70px;
    padding-right: 37px;
    padding-left: 37px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #00b289;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }
  .form_success_message_w_form_done {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: none;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    color: #00b289;
    font-size: 20px;
  }
  .w_form_fail {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
  }
  .flex_right_width_70_is_mobile_100 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    padding-left: 5%;
    width: 70%;
  }
  .image_hero {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: 89px;
    top: -51px;
    width: 112%;
    max-width: 112%;
  }
  .text_size_medium_20 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    box-sizing: border-box;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 600;
  }
  
  .section_main_spacing {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .shape_two {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: -1%;
    top: 18%;
    right: auto;
    bottom: 0;
    z-index: -1;
    max-width: 221px;
  }
  .container_medium {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    max-width: 58rem;
    margin-right: auto;
    margin-left: auto;
  }
  .max_width_640 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
  }
  .margin_bottom_margin_small {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0.625rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .heading_large_32 {
    text-size-adjust: none;
    box-sizing: border-box;
    color: #4c525a;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    font-family: "Amerigo-bt roman opt", sans-serif;
    font-weight: 400;
  }
  .heading_small_22 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 300;
  }
  .grid {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 2.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 80px;
    -webkit-box-align: start;
    align-items: start;
  }
  .margin_bottom_margin_huge {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 2.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .heading_small {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 600;
  }
  .container_medium_text {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 58rem;
    margin-right: auto;
    margin-left: auto;
  }
  .margin_bottom_margin_small {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    margin: 0.625rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .heading_large_32_amerigo {
    text-size-adjust: none;
    text-align: center;
    box-sizing: border-box;
    color: #4c525a;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 140%;
    font-family: "Amerigo-bt roman opt", sans-serif;
    font-weight: 400;
  }
  .textsizelarge_textweightlight {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: 300;
  }
  .margintop_marginxxhuge {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    margin: 5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .gridbox {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: left;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .max_width280 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    max-width: 280px;
  }
  .marginbottom_marginxxlarge {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    margin: 1.875rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .headingsmall22 {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    text-align: left;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .textsizeregular_textweight {
    text-size-adjust: none;
    font-family: var(--primaryFont);
    color: #4c525a;
    line-height: 20px;
    text-align: left;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 1rem;
  }
  