*{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    background-image: linear-gradient(90deg,green,blue);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}

a:hover{
    background-size: 100% 3px;
    }

#para{
    padding: 1rem 0;
    color:#4C4D5F;
    font-size: 1.2em;
    font-weight: 500;
}
.Hfsize{
   font-weight: 900;
    font-size: 2em;
    color: black;
    padding-bottom: 0.2rem;
    text-decoration: none;
    background-image: linear-gradient(90deg,red,blue);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.Hfsize:hover{
    background-size: 90% 3px;
}
.subH{
   font-weight: 900;
   color: black;
   font-size: 1.3em;

}
.liP{
    padding: 0.5rem 0;
    color:#4C4D5F;
    font-size: 1.2em;
    font-weight: 500;
}
/* 
<Text className="Hfsize"></Text>
<li className="liP"></li>   
<Text className="subH"></Text>
 */