.footer{
    padding: 100px 16% 96px;
}
.heading{
    display: flex;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.inner{
    width: 30%;
}
.innerheading{
    margin-bottom: 40px;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .12px;
    text-transform: uppercase;
}
.content{
    margin-bottom: 1px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .11px;
    text-decoration: none;
    color: #00b289;
    cursor: pointer;
}
.temp{
    margin-bottom: 10px;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: .11px;
}
.block{
    display: flex;
    margin-bottom: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 767px){
    .footer {
        padding-top: 40px;
        padding-bottom: 156px;
    }
    .heading{
        flex-wrap: wrap;
    }
    .inner{
        display: block;
        width: 100%;
        margin-top: 20px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-wrap: wrap;
        -webkit-box-align: start;
        align-items: flex-start;
    }
    .innerheading{
        width: 100%;
        margin-bottom: 25px;
        font-size: 18px;
    }
    .block{
        width: 47%;
    }
}

@media screen and (max-width: 767px){
    .footer {
        padding-right: 5%;
        padding-left: 5%;
    }
}